body {
  background-image: url(../multtimedia/Fondos-Wallpaper-Gratis-Abstractos-172.jpg);
}

.titulo h1 {
  font-size: 40px;
  display: inline-block;
  background-color: white;
  padding: 35px;
  -webkit-box-shadow: 2px 2px 2px 1px #020202;
          box-shadow: 2px 2px 2px 1px #020202;
  margin-top: 3vh;
  margin-left: 2vw;
}

.titulo a {
  text-decoration: none;
}

.lincks {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: peachpuff;
  min-height: 5vh;
  margin: 1;
  border: solid black 10px;
  font-size: 18px;
  font-style: italic;
  font-family: fantasy;
}

.bienvenidos {
  display: inline-block;
  border: 2px solid #5c51ee;
  color: khaki;
  -webkit-box-shadow: 2px 2px 2px 1px #305cec;
          box-shadow: 2px 2px 2px 1px #305cec;
  -webkit-transform: translate(26vw, 1px);
          transform: translate(26vw, 1px);
  font-size: 40px;
  margin: 2vh;
}

.seguridad {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-transform: translate(30vw, 20px);
          transform: translate(30vw, 20px);
  margin: 1vh;
}

.seguridad2 {
  display: inline-block;
  background-color: khaki;
  -webkit-transform: translate(27vw, 40px);
          transform: translate(27vw, 40px);
  font-size: 20px;
}

.salud {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-transform: translate(30vw, 10vh);
          transform: translate(30vw, 10vh);
  margin: 1vh;
}

.salud2 {
  display: inline-block;
  background-color: khaki;
  font-size: 20px;
  margin: 40vh;
  -webkit-transform: translate(0vh, -25vh);
          transform: translate(0vh, -25vh);
}

.pregunta {
  display: inline-block;
  -webkit-transform: translate(35vw, -60vh);
          transform: translate(35vw, -60vh);
}

.preguntas2 {
  display: inline-block;
  background-color: khaki;
  -webkit-transform: translate(30vw, -55vh);
          transform: translate(30vw, -55vh);
  font-size: 20px;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: sans-serif;
}

footer {
  width: 100%;
  background-color: black;
  color: white;
}

.todoelpie {
  width: 100%;
  max-width: 1200px;
  margin: auto;
  padding: 40px;
}

.pie {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.columna1 {
  max-width: 400px;
}

.columna1 h1 {
  font-size: 22px;
}

.columna1 p {
  font-size: 14px;
  color: teal;
  margin-top: 20px;
}

.columna2 {
  max-width: 400px;
}

.columna2 h1 {
  font-size: 22px;
}

.row {
  margin-top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.row img {
  width: 36px;
  height: 36px;
}

.row label {
  margin-top: 10px;
  margin-left: 20px;
  color: white;
}

.columna3 {
  max-width: 400px;
}

.columna3 h1 {
  font-size: 22px;
}

.row2 {
  margin-top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.row2 img {
  width: 36px;
  height: 36px;
}

.row2 label {
  margin-left: 20px;
  max-width: 140px;
  margin-top: 10px;
}

.pie2 {
  width: 100%;
  background-color: teal;
}

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 1200px;
  margin: auto;
  padding: 20px;
}

.copyright {
  color: whitesmoke;
}

.copyright a {
  text-decoration: none;
  color: black;
  font-weight: bold;
}

.informacion a {
  text-decoration: none;
  color: black;
}

@media screen and (max-width: 1100px) {
  .todoelpie {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .columna1 {
    max-width: 100%;
  }
  .columna2,
  .columna3 {
    margin-top: 60px;
  }
}

.tabla2 {
  background-color: thistle;
  text-align: center;
  color: khaki;
  font-style: italic;
}

.tabla2 {
  display: inline-block;
  border: solid 2vh black;
  -webkit-transform: translate(40vw, -20vh);
          transform: translate(40vw, -20vh);
}

input {
  width: 100px;
  height: 20px;
  -webkit-transition: all 2s;
  transition: all 2s;
}

input:focus {
  width: 150px;
  font-size: 24px;
}

div > h2 {
  display: inline-block;
  border: 2px solid #5c51ee;
  color: khaki;
  -webkit-transform: translate(32vw, 2vh);
          transform: translate(32vw, 2vh);
  font-size: 40px;
  font-family: fantasy;
}

.noc3 {
  font-family: Georgia, 'Times New Roman', Times, serif;
  background-color: tomato;
  font-style: italic;
  font-size: 30px;
  display: inline-block;
  border: solid 1vh black;
  -webkit-transform: translate(42vw, 0vh);
          transform: translate(42vw, 0vh);
}

.noc4 {
  display: inline-block;
  -webkit-transform: translate(13vw, 25vh);
          transform: translate(13vw, 25vh);
  margin: 13vw;
}

.tabla {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr,1fr;
      grid-template-columns: 1fr,1fr;
  -ms-grid-rows: 1fr,1fr;
      grid-template-rows: 1fr,1fr;
  color: khaki;
}

.noc5 > h2 {
  margin: 5vh;
  display: inline-block;
  border: 2px solid #5c51ee;
  -webkit-transform: translate(13vh, 1px);
          transform: translate(13vh, 1px);
  color: khaki;
}

.noc6 {
  display: inline-block;
  -webkit-transform: translate(32vw, 7vh);
          transform: translate(32vw, 7vh);
  border: 5px solid #5c51ee;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 10vh;
}

.bienvenida {
  margin: 4vh;
  color: khaki;
  font-size: 21px;
  font-family: fantasy;
  -webkit-transform: translate(-22vw, -4vh);
          transform: translate(-22vw, -4vh);
}

.noc7 {
  display: inline-block;
  margin: 0.5vh;
  border: 2px solid #5c51ee;
  color: khaki;
  -webkit-box-shadow: 4px 4px 4px 3px #020202;
          box-shadow: 4px 4px 4px 3px #020202;
  -webkit-transform: translate(2vw, -8vh);
          transform: translate(2vw, -8vh);
  font-size: 22px;
  font-family: fantasy;
  margin: 20vh;
}

nav > iframe {
  -webkit-box-shadow: 4px 4px 4px 3px #020202;
          box-shadow: 4px 4px 4px 3px #020202;
  display: inline-block;
  border: solid khaki 1vh;
  -webkit-transform: translate(31vw, 6vh);
          transform: translate(31vw, 6vh);
  border: 2px solid #5c51ee;
}

.receta {
  display: inline-block;
  background-color: khaki;
  color: black;
  -webkit-transform: translate(15vh, 15vh);
          transform: translate(15vh, 15vh);
  border: solid black 1px;
  font-size: 20px;
  font-family: fantasy;
}

.recetario {
  -webkit-transform: translate(35vw, 10vh);
          transform: translate(35vw, 10vh);
  margin: 10vh;
}

.medio {
  display: inline-block;
  border: 2px solid #5c51ee;
  color: khaki;
  -webkit-box-shadow: 2px 2px 2px 1px #305cec;
          box-shadow: 2px 2px 2px 1px #305cec;
  -webkit-transform: translate(40vw, 1px);
          transform: translate(40vw, 1px);
  font-size: 40px;
  margin: 2vh;
}

.continuacion {
  margin: 6vh;
  display: inline-block;
  -webkit-transform: translate(-50vh, 2vh);
          transform: translate(-50vh, 2vh);
  color: khaki;
  font-family: fantasy;
  font-size: 30px;
}

.f1 {
  display: inline-block;
  -webkit-transform: translate(25vh, -6vh);
          transform: translate(25vh, -6vh);
  font-style: italic;
  font-size: 40px;
  color: khaki;
  margin: 10vh;
}

.huevos {
  display: -ms-grid;
  display: grid;
  justify-items: stretch;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  border: solid 0.5vh white;
}

.almendras {
  display: -ms-grid;
  display: grid;
  justify-items: stretch;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  border: solid 0.5vh white;
}

.nueces {
  display: -ms-grid;
  display: grid;
  justify-items: stretch;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  border: solid 0.5vh white;
}

.grillos {
  display: -ms-grid;
  display: grid;
  justify-items: stretch;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  border: solid 0.5vh white;
}

.harinaDeAlmendras2 {
  display: -ms-grid;
  display: grid;
  justify-items: stretch;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  border: solid 0.5vh white;
}

.cerdo {
  display: -ms-grid;
  display: grid;
  justify-items: stretch;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  border: solid 0.5vh white;
}

.soja {
  display: -ms-grid;
  display: grid;
  justify-items: stretch;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  border: solid 0.5vh white;
}

.tofu {
  display: -ms-grid;
  display: grid;
  justify-items: stretch;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  border: solid 0.5vh white;
}

.ic {
  display: inline-block;
  border: solid black 1vh;
  background-color: tomato;
  font-size: 30px;
  -webkit-transform: translate(40vw, 20px);
          transform: translate(40vw, 20px);
}
/*# sourceMappingURL=prueba.css.map */